__pycache__/
*.pyc
.venv/
venv/
env/

dataset/
*.h5
*.tflite

.DS_Store
Thumbs.db
.env
.env.local
frontend/.env.local
dashboard/.env.local


# Env files (SECRETS)
.env
*.env

node_modules/
dashboard/node_modules/
.env
